/* Personalización del fondo */
#body {
    background-image: url(./../img/fondo.png);
    color: white;
    font-family: Roboto_Condensed;
    margin-left: 10%;
    margin-right: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Tipografia personalizada */
@font-face {
    font-family: "Roboto_Condensed";
    src: url(./../fuente/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

/* Titulo prinicpal */
#h1 {
    font-size: 90px;
    text-align: center;
    color: rgb(0, 60, 255);
    transition: 0.3s;
}

/* Cambio de color cuando el cursor pasa */
#h1:hover {
    color: #b8eeff; /

}

/* Personalización del carrusel */
.customizado {
    max-width: 300px;
    height: 100px;
    margin-bottom: 500px;
    margin: auto;
}

/* Personalización del menú */
.menu {
    background-color: rgba(196, 196, 255, 0.116);
    width: 100%;
    text-align: center;
}

/* Personalización de las imagenes del segundo apartado del Index */
.imagenes_index {
    height: 380px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centrar_index {
    display: flex; /* Utilizamos flexbox para el centrado */
    justify-content: center; /* Centra horizontalmente */
}