/* Personalización del fondo */
#body {
    background-image: url(./../img/fondo.png);
    color: white;
    font-family: Roboto_Condensed;
    margin-left: 10%;
    margin-right: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Tipografia personalizada */
@font-face {
    font-family: "Roboto_Condensed";
    src: url(./../fuente/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

/* Personalización de la foto de la portada */
.dimension {
    height: 95%;
    width: 100%;
}

/* Personalización del menú superior */
.menu {
    background-color: rgba(25, 25, 131, 0.781);
    width: 100%;
    text-align: center;
}

/* Personalización de la tabla */
.imagen-tabla {
    width: 210px;
    height: 275px;
}

.imagen-tabla-fortnite-eafc {
    width: 290px;
    height: 275px;
}

.fondo {
    background-color: rgba(2, 0, 29, 0.342);
}

.fondo-encabezado {
    background-color: rgba(15, 11, 74, 0.342);
}

.centrar {
    justify-content: center;
    align-items: center;
}

/* Tamaño video de YT */
.video {
    height: 375px;
    width: 100%;
}

.inicio {
    color: black;
}