<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft</title>
    <link rel="stylesheet" href="./../CSS/style.videojocs.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <title>Top 5 videojocs</title>
    <link rel="icon" href="./../img/logo.png">
</head>




<body id="body">


    <!-- Menu -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">PixelForge Studios</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <a class="inicio" href="./../index.html">Volver al inicio</a>
    </div>
  </nav>
    
    <div class="row">
<!-- Titulo juego y descripcion todo en linea -->
        <div class="col-lg-8 col-sm-12 centrar"> <h1>EA FC25 </h1> 
        
            <p>EA Sports FC 25 marca una evolución significativa en la franquicia de fútbol, presentando una experiencia más realista y estratégica sin la licencia de FIFA. Entre sus novedades más destacadas se encuentra el sistema FC IQ, que permite definir roles específicos para cada jugador, adaptando tácticas según el estilo de juego deseado. Este sistema incluye además preajustes tácticos inspirados en entrenadores reales.

                Una de las incorporaciones más llamativas es el nuevo modo Rush (5v5), que sustituye a Volta y ofrece partidas rápidas en campos más pequeños, ideales para jugar con amigos. También se ha mejorado notablemente el apartado gráfico gracias a la tecnología HyperMotionV, que captura movimientos reales para ofrecer animaciones más fluidas y realistas.
                
                Por primera vez, se integra completamente el fútbol femenino en todos los modos del juego, incluyendo el Modo Carrera, donde se pueden gestionar equipos femeninos en ligas y competiciones europeas.
                
                En cuanto a los modos de juego, Ultimate Team sigue siendo el favorito, ahora con opciones tácticas más avanzadas gracias a FC IQ. El Modo Carrera también se ha enriquecido con redes sociales virtuales que simulan noticias deportivas y rumores de fichajes. Clubes Pro permite formar equipos con amigos y competir en ligas personalizadas, y el Modo Simulación es ideal para quienes prefieren una experiencia de gestión sin participar directamente en los partidos.
            <br>
            <br>

                PRECIO:
            <br>
           La Standard Edition esta valorada en 80€, mientras que la Ultimate Edition esta valorada en 110€ *precios de salida*.</p> 
            
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <iframe class="video" src="https://www.youtube.com/embed/pBM2xyco_Kg" title="EA SPORTS FC 25 | Official Reveal Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            
        </div>

            <div class="col-lg-4 col-sm-12"> <img src="./../img/4.png" class="dimension"> </div>
        </div>

        <div clas="col-lg-12 col-sm-12">
            <br>
            <table class="uniform-table" style="width: 100%; text-align: center; border: 3px solid rgb(161, 161, 161); border-collapse: collapse;">
                <thead>
                    <tr class="fondo-encabezado">
                        <th>Personajes</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fondo">
                        <td>Steve</td>
                        <td><img src="./../img/steve.png" alt="Steve" class="imagen-tabla"></td>
                    </tr>
                    <tr class="fondo">
                        <td>Alex</td>
                        <td><img src="./../img/alex.png" alt="Alex" class="imagen-tabla"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>