<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft</title>
    <link rel="stylesheet" href="./../CSS/style.videojocs.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <title>Top 5 videojocs</title>
    <link rel="icon" href="./../img/logo.png">
</head>




<body id="body">


    <!-- Buscador inicial -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">PixelForge Studios</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <a class="inicio" href="./../index.html">Volver al inicio</a>
    </div>
  </nav>
    
    <div class="row">

<!-- Titulo juego, descripcion y precio -->
        <div class="col-lg-8 col-sm-12 centrar"> <h1>MINECRAFT </h1> 
        
            <p>Minecraft es uno de los videojuegos más populares y revolucionarios de todos los tiempos. Desarrollado por Mojang Studios, este título de mundo abierto te invita a explorar un universo generado por bloques, donde la creatividad es el único límite.

                Ya sea que quieras construir impresionantes estructuras, sobrevivir en un mundo lleno de peligros, o explorar cavernas infinitas en busca de tesoros, Minecraft te ofrece una experiencia única que se adapta a tu estilo de juego. Con sus modos de juego Supervivencia, Creativo, Aventura y Espectador, cada partida puede ser completamente diferente.
                
                Disponible en múltiples plataformas, Minecraft también permite el juego en línea con amigos y una comunidad global que no deja de crecer, gracias a sus constantes actualizaciones, mods, y contenido personalizado.
            
            <br>
            <br>

                PRECIO:
            <br>
            EL juego físico cuesta 15,79€. De manera virtual, cuesta de 4€ a 8€ dependiendo la edición.</p> 
            
            <!-- Trailer del juego -->
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <iframe class="video" src="https://www.youtube.com/embed/MmB9b5njVbA" title="Official Minecraft Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video"></iframe>
                </div>
            </div>
            
        </div>
            <!-- Foto de la portada -->
            <div class="col-lg-4 col-sm-12"> <img src="./../img/1.png" class="dimension"> </div>
        </div>

        <!-- Tabla con todos los personajes -->
        <div clas="col-lg-12 col-sm-12">
            <br>
            <table class="uniform-table" style="width: 100%; text-align: center; border: 3px solid rgb(161, 161, 161); border-collapse: collapse;">
            <!--Encabezado de la tabla-->
                <thead>
                    <tr class="fondo-encabezado">
                        <th>Personajes</th>
                        <th>Foto</th>
                    </tr>
                </thead>
            <!--Cuerpo de la misma con el nombre de los persoanjes y sus respectivas imagenes-->
                <tbody>
                    <tr class="fondo">
                        <td>Steve</td>
                        <td><img src="./../img/steve.png" alt="Steve" class="imagen-tabla"></td>
                    </tr>
                    <tr class="fondo">
                        <td>Alex</td>
                        <td><img src="./../img/alex.png" alt="Alex" class="imagen-tabla"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>