<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Undertale</title>
    <link rel="stylesheet" href="./../CSS/style.videojocs.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link rel="icon" href="./../img/logo.png">
</head>




<body id="body">


    <!-- Barra de busqueda  -->
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">PixelForge Studios</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <a class="inicio" href="./../index.html">Volver al inicio</a>
    </div>
  </nav>
    
    <div class="row">
<!-- Titulo juego, descripcion y precio -->
        <div class="col-lg-8 col-sm-12 centrar"> <h1>UNDERTALE</h1> 
        
            <p>"Hace tiempo, dos razas gobernaron la Tierra: Monstruos y Humanos. Un dia, una guerra se desato entre las dos razas. Tras una larga 
                batalla, los humanos fueron victoriosos. Sellaron a los monstruos bajo tierra con un hechizo mágico."

                Undertale cuenta la historia de Frisk, un niño (de género indefinido) que escala el Monte Ebott, un lugar del que se cuenta que 
                quienes lo escalan, nunca vuelven, y como este cae accidentalmente en el, llegando al Underground, lugar en el que habitan los 
                monstruos, ahora Frisk debera atravesar el lugar buscando una manera de salir, descubriendo la historia de los monstruos y 
                conociéndolos, haciéndose amigos de ellos y terminando la guerra ente humanos y monstruos y ayudando a los monstruos a escapar del 
                Underground.
            <br>
            <br>

                PRECIO:
            <br>
            Precio del juego fisico para Ninetendo Swich: 59,99€
            Precio en Steam: 4,54€</p> 
            
            <!--Trailer del juego-->
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <iframe class="video" src="https://www.youtube.com/embed/ycsnBIX8wTU" title="Undertale - Release Trailer - Nintendo Switch" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                
                </div>
            </div>
            
            <!--Portada del juego-->
        </div>
            <div class="col-lg-4 col-sm-12"> <img src="./../img/2.png" class="dimension"> </div>
        </div>

        <div clas="col-lg-12 col-sm-12">
            <br>
            <!--Tabla de los personajes del juefo y sus respectivas imegenes-->
            <table class="uniform-table" style="width: 100%; text-align: center; border: 3px solid rgb(161, 161, 161); border-collapse: collapse;">
                <thead>
                    <tr class="fondo-encabezado">
                        <th>Personaje</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fondo">
                        <td>Frisk</td>
                        <td><img src="./../img/frisk.jpg" alt="Frisk" class="imagen-tabla"></td>
                    </tr>
                    <tr class="fondo">
                        <td>Chara</td>
                        <td><img src="./../img/chara.jpg" alt="Chara" class="imagen-tabla"></td>
                    </tr>
                    <tr>
                        <td>Flowey</td>
                        <td><img src="./../img/flowey.jpg" alt="flowey" class="imagen-tabla"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>